html,body{
  height: 100%;
}
#divEditor{
  display: inline-block;
  width: 616px;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  & canvas{
    position: absolute;
    top:0;
    left:0;
  }
  & #cvsDoc{
    background-color: #ffffff;
  }
  & #cvsCover {
    background-color: transparent;
    pointer-events: none;
  }

  & #divCursor{
    position: absolute;
    border-left-style: solid;
    border-left-width: 1px;
    pointer-events: none;
  }

  & #textInput{
    position: absolute;
    width: 0px;
    resize: none;
    outline: none;
    border:none;
    overflow: hidden;
    background: transparent;
    color: transparent;
    pointer-events: none;
  }
}

#divLog{
  float: right;
  width: calc(100% - 646px);
  height: 100%;
  background-color: rgb(240, 240, 240);
  .error {
    color: red
  }
}