html,body{
  height: 100%;
}
#divEditor{
  display: inline-block;
  width: 616px;
}

#divLog{
  float: right;
  width: calc(100% - 646px);
  height: 100%;
  background-color: rgb(240, 240, 240);
  .error {
    color: red
  }
}